BasedOnStyle: Google
IndentWidth: 4
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
DerivePointerAlignment: true
SpacesInParentheses: false
KeepEmptyLinesAtTheStartOfBlocks: true
SortIncludes: CaseInsensitive
InsertNewlineAtEOF: true
